<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WebKeePass » [% title %]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="[% page_description %]">
    <meta name="author" content="Alexis Sukrieh">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/fp.js"></script>

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/bootstrap/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">WebKeePass [% version %]</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li [% if request.path == '/keepass' %]class="active"[% END %]><a href="/keepass">Database</a></li>
            </ul>
            [% IF session.entries %]
            <p class="navbar-text pull-right">
              <a class="navbar-link" href="/signout" title="Lock the database">Exit</a>
            </p>
            [% ELSE %]
              <form method="post" id="unlock_form" action="/keepass" class="navbar-form pull-right">
                <input type="hidden" id="fingerprint_field" name="fingerprint" />
                <input id="pwd_input" class="span2" type="password" name="password" placeholder="Password">
                <button type="submit" id="unlock_button" class="btn">Unlock</button>
              </form>

              <script type="text/javascript">
              $('#unlock_form').submit(function(){
                document.getElementById('fingerprint_field').value = FingerPrint.get();
              });
              </script>
           [% END %]
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <img style="margin: auto; width: 250px; margin-top: 20px;" class="visible-desktop" src="/images/keepass_logo.png" alt="KeePass logo" />
        </div>
        <div class="span9" style="padding-left: 10px;">
 
          [% IF flash %]
          <div class="alert alert-error" style="margin-top: 1em;">
            [% flash %]
          </div>
          [% END %]

          [% content %]

        </div>
      </div> <!-- /row-fluid -->
    </div> <!-- /container-fluid -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

  <script>
    $('#pwd_input').focus();
  </script>
  </body>
</html>
